<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en" /> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en" /> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en" /> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <title>What is Markdown?</title>
    <meta name="description" content="Learn about the Markdown text formatting engine and the best way to use it." />
    <meta name="author" content="whatismarkdown.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="canonical" href="http://whatismarkdown.com" />
  </head>
  <body>
    <div class="stella"></div>
    <div class="stella-left"></div>
    <div class="stella-right"></div>
    <div class="stella-base"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="markdown-container" style="display: none">
            <table class="social"><tr><td style="padding-right: 20px"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://whatismarkdown.com" data-count="vertical">Tweet</a><script src="http://platform.twitter.com/widgets.js"></script></td><td style="position: relative; top: 1px; padding-right: 20px;"><div class="g-plusone" data-size="tall" data-count="true"></div></td><td style="position: relative; top: -2px;" class="last"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwhatismarkdown.com&amp;send=true&amp;layout=box_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:63px;float: left; width: 50px; position: relative; top: 0px;" allowTransparency="true" class="facebook"></iframe></td></tr></table><img src="http://whatismarkdown.com/workspace/img/logo.gif" style="width: 100%" />
            <div class="markdown">{{ content }}</div>
            <div class="footer"><a href="http://whatismarkdown.com">whatismarkdown.com</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="//apis.google.com/js/plusone.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30235413-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
